/* start global rules */
:root{
    --main-c: #00C7FC;
    --p-c: #777777;
    --bg-c-g: #FCFCFC;
    --bg-c-w: white;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    user-select: all var(--main-c);
    caret-color: wheat;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
}
.section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-title{
    margin: 0 auto 100px;
    text-align: center;
    max-width: 550px;
}
.section-title h2{
    margin-bottom: 70px;
    position: relative;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
}
.section-title h2::before{
    content: "";
    width: 120px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.section-title h2::after{
    content: "";
    width: 14px;
    height: 14px;
    background-color: var(--bg-c-w);
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
}
.section-title p{
    margin: 0;
    color: var(--p-c);
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
}
/* end global rules */

/* start header */
header{
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 5;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::before{
    content: "";
    width: calc(100% - 30px);
    height: 0.5px;
    background-color: var(--bg-c-w);
    position: absolute;
    bottom: 0;
    left: 15px;
}
header .logo a{
    margin: 10px 0;
}
header .logo a img{
    height: 40px;
}
header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .burger-menu{
    margin: 37px 0;
    color: var(--bg-c-w);
    font-size: 1.5em;
}
header ul{
    display: flex;
}
header ul a{
    font-size: 0.9em;
    text-decoration: none;
    color: var(--bg-c-w);
    padding: 40px 10px;
    border-bottom: 1px solid transparent;
    transition-duration: .5s;
    transition-property: color, border-bottom;
}
header ul .active,
header ul a:hover{
    color: var(--main-c);
    border-bottom: 1px solid var(--main-c);
    transition-duration: .5s;
    transition-property: color, border-bottom;
    z-index: 2;
}
header .search{
    margin-left: 30px;
    padding: 5px 0;
    padding-right: 0;
    padding-left: 20px;
    border-left: 1px solid var(--bg-c-w);
}
header .search i{
    color: var(--bg-c-w);
    font-size: 1.3em;
    transition-duration: .5s;
    transition-property: color, transform;
}
header .search i:hover {
    color: var(--main-c);
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: .5s;
    transition-property: color, transform;
}
header .search i:active{
    transform: scale(1.1);
    transition-duration: .1s;
}
/* end header */

/* start landing section */
section{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
section::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
}
.landing .all-text{
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    width: 50%;
    color: var(--bg-c-w);
    background-color: rgba(15, 116, 143, 70%);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.landing .all-text .content{
    max-width: 500px;
}
.landing .all-text h1{
    margin: 0;
    font-weight: 400;
    line-height: 1.5em;
}
.landing .all-text p{
    margin-top: 25px;
    color: var(--bg-c-w);
    font-size: 0.88em;
    line-height: 1.9em;
}
.landing .arrow{
    font-size: 1.8em;
    color: var(--bg-c-w);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    transition-duration: .5s;
    transition-property: color, font-size;
}
.landing .arrow:hover{
    font-size: 2.2em;
    color: var(--main-c);
    transition-duration: .5s;
    transition-property: color, font-size;
}
.landing .arrow:active{
    font-size: 1.9em;
    transition-duration: .1s;
}
.landing .right-arrow{
    right: 30px;
}
.landing .left-arrow{
    left: 30px;
}
.landing .points{
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.landing .points li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--bg-c-w);
}
.landing .points .active{
    background-color: var(--main-c);
    border: 1px solid var(--main-c);
}
/* end landing section */

/* start services section */
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}
.services-content .serv{
    display: flex;
}
.services-content .serv h3{
    color: var(--main-c);
    font-size: 1.2em;
    margin-bottom: 30px;
}
.services-content .serv p{
    color: var(--p-c);
    font-size: 1em;
    line-height: 2;
}
.services-content .serv i{
    font-size: 3em;
    margin-right: 50px;
}
/* end services section */

/* start features section */
.features-section{
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    background-color: black;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    overflow: hidden;
}
.features-section::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
    position: absolute;
}
.features-section .features,
.features-section .pict{
    z-index: 2;
    flex: 1;
}
.features{
    padding: 50px;
    background-color: rgba(15, 116, 143, 70%);
}
.features-section h2{
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 1.5em;
    color: var(--bg-c-w);
    text-transform: uppercase;
}
.features-section ul li{
    padding: 15px 0;
    text-transform: capitalize;
    font-size: 1em;
    color: var(--bg-c-w);
}
.features-section ul li::before{
    content: "\f390";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
.features-section ul li i{
    margin-right: 15px;
}
.features-section .pict{
    position: relative;
    height: 100%;
    text-align: center;
}
.features-section .pict img{
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
}
/* end features section */

/* start portfolio section */
.portfolio-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-section .choices ul{
    display: flex;
    color: black;
    text-transform: capitalize;
}
.portfolio-section li{
    padding: 10px;
    cursor: pointer;
}
.portfolio-section li:hover{
    background-color: var(--main-c);
    color: var(--bg-c-w);
}
.portfolio-section .active-btn{
    background-color: var(--main-c);
    color: var(--bg-c-w);
}
.portfolio-section .projects{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio-section .projects .proj{
    flex-basis: 100%;
    position: relative;
    overflow: hidden;
}
.portfolio-section .projects img{
    max-width: 100%;
    transition: .3s;
    cursor: pointer;
}
.portfolio-section .proj:hover img{
    transform: rotate(3deg) scale(1.1);
    transition: .3s;
}
.portfolio-section .projects .text{
    padding: 15px;
    width: 100%;
    background-color: var(--bg-c-w);
    color: black;
    text-transform: capitalize;
    line-height: 1.8em;
    position: absolute;
    bottom: -100px;
    transition: .3s;
}
.portfolio-section .projects .text span{
    color: var(--main-c);
}
.portfolio-section .proj:hover .text{
    bottom: 0;
    transition: .3s;
}
.portfolio-section .more-btn{
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    background-color: var(--main-c);
}
.portfolio-section .more-btn a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bg-c-w);
}
/* end portfolio section */

/* start video section */
.video-section{
    height: fit-content;
    position: relative;
    overflow: hidden;
}
.video-section::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
    position: absolute;
    top: 0;
}
.video-section .text{
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: rgba(15, 116, 143, 70%);
    color: var(--bg-c-w);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.video-section .text h4{
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.video-section .text p{
    margin-top: 30px;
    text-transform: capitalize;
}
.video-section .text .see-btn{
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    background-color: black;
}
.video-section .text .see-btn a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bg-c-w);
}
/* end video section */

/* start about section */
.about-section{
    position: relative;
}
.about-section img{
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* end about section */

/* start statistics section */
.statistics{
    margin-top: -220px;
    position: relative;
    background-image: url(../images/stats.png);
    background-size: cover;
}
.statistics::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 70%);
    position: absolute;
    top: 0;
}
.statistics .stat-content{
    display: flex;
    position: relative;
    margin: 50px 30px;
    background-color: rgba(15, 116, 143, 70%);
}
.statistics .stat-content .stat{
    color: var(--bg-c-w);
    text-transform: capitalize;
    position: absolute;
    bottom: 10px;
}
/* end statistics section */






